#comentarios {
    background: linear-gradient(90deg, #ED7D31 0%, #D06051 100%);
}

.comentarios-pattern-overlay.pattern-left {
    top: 20%;
    left: 0px;
}

.comentarios-pattern-overlay.pattern-right {
    top: 35%;
    right: 0px;
}

