.h6-mapa {
  color: #4f4a45 !important;
}

.h2-mapa {
  color: #4f4a45 !important;
}

.h2-mapa span {
  background: linear-gradient(90deg, #ed7d31 0%, #d06051 100%);
  -webkit-background-clip: text;
  color: transparent;
}


.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-work {
  background-color: #ecbe9f;
  color: #ed7d31;
  font-size: 2rem;
}

.btn a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.mapbox {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom:  10px solid #ed7d31;
  border-left:  10px solid #ed7d31;
}

@media (max-width: 1024px) {
 .mapa-google {
  margin-bottom: 1rem;
 }
}